<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../CSS/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Girassol&display=swap" rel="stylesheet">

    <title>about</title>
  </head>
  <body>
    {{>header}}
    <div class="about-container">
      <div class="about-1">
        <h1>Project Discription</h1>
         <p>
          
           With help of Covid Tracker you can get the covid datain a well organised manner.
           Here You can search for the data of any state or you can view the data of all state at once in statewise route.
           With help of this site You can view different type of data data such as present confirmed case, Tested ,vaccinated etc.
           
         </p>
      </div>
    </div>
    {{>footer}}
       <script src="../js/header.js"></script>
  </body>
</html>
