<header>
  <div class="navbar">
    <div class="logo">Covid Tracker</div>
    <a href="#" class="toggle-btn">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
</a>
    <div class="nav-links">
      <ul>

      <li><a href="/">Home</a></li>
      <li><a href="/statewise">statewise-Data</a></li>
      <li><a href="/about">About</a></li>
      

      </ul>
    <div>
  </div>
</header>